.wk-about-page {
  position: relative;
  min-height: 100vh;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}

.wk-about-page__main {
  flex: 1 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
}
